body{
    background-color:  #668f80;
    width: max-content;
}

._sP9B {
    width: 1px;
    height: 18px;
    background-color: #dfe5eb;
    align-self: center;
    margin-left: 9px;
    margin-right: 6px;
}

.Panel-registro{
    width: 85%;
    height:440px ;
    background-color: #fff;
    text-align: center;

}

.buscador{
border-color: #3c6e71;

}

._3mYbO {
    z-index: 1;
    flex-grow: 1;
}

.btns{
    background-color: #353535;
    color: #fff;
}
.nav-link{
    color: #3c6e71;
}
._3q4or {
    align-items: center;
    width: fit-content;
    box-shadow: 0 1px 5px 0 #3c6e71;
    display: flex;
    height: 48px;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    z-index: 2000;
    min-width: 1264px;
}

.Panel-Encabezado {   
    
    top: 48px; 
    align-items: center;   
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 120px;
    min-height: 120x;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 0%;
    
}

.Panel-principal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    min-width: 1284px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.Texto-encabezado {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-weight: var(--wsr-font-weight-medium, 400);
    font-family: HelveticaNeueW01-55Roma,HelveticaNeueW02-55Roma,HelveticaNeueW10-55Roma,"Helvetica Neue","Helvetica","Arial","\30E1\30A4\30EA\30AA","meiryo","\30D2\30E9\30AE\30CE\89D2\30B4 pro w3","hiragino kaku gothic pro","sans-serif";
    font-family: var(--wsr-font-family, HelveticaNeueW01-55Roma, HelveticaNeueW02-55Roma, HelveticaNeueW10-55Roma),"Helvetica Neue","Helvetica","Arial","\30E1\30A4\30EA\30AA","meiryo","\30D2\30E9\30AE\30CE\89D2\30B4 pro w3","hiragino kaku gothic pro","sans-serif";
}
.btn-outline-danger {
    color: #b26e63;
    border-color: #b26e63;
}
.btn-online-danger {
    color: #FFFF;
    border-color: #b26e63;
}
.btn-outline-primary {
    color: #284b63;
    border-color: #284b63;
}
.Formulario-registrar{

     
    position: absolute; 
    left: 26%; 
    top: 13%; 
    padding: 33px; ;     
    display: none;
}

.Panel-Busqueda {

    width: 50%;
    left: 10%;
    position: relative;     
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0%;

}

.no-data{
    display:flex;
    flex-wrap: wrap;  
    justify-content: center;   
    left: 0%;    
    align-items:center;
    position: relative;
    padding: 10px;
    text-align: center;
}